#body {
    margin: 0;
    padding: 0.1rem;
    min-height: 100vh;
    background-color: #eeeeee79;
    padding-bottom: 2rem;
    &.fixed {
        position: fixed;
    }

    @include ipadpro {
        margin-left: 15%;
        width: 85%;
    }
}
    



