#recent_activity {
    color: $primaryColor;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 1px 2px;

    h5 {
        padding: 1rem;
        border-bottom: 1px solid $borderColor;
        margin: 0;
        font-size: $smallFont;
    }

    .activity {
        position: relative;
        padding: 1rem;
        height: 4rem;
        &.shade {
            background-color: #efefef;
        }
        h6 {
            margin-bottom: 0;
            font-size: $smallFont;
            
        }

        span {
            font-size: 12px;
            color: $primaryColor;
        }
        i {
            position: absolute;
            right: 6%;
            top: 1rem;
            font-size: 12px;
        }
    } 

}