#dashboard_content {
    padding: 0;
    padding-top: 6rem;

    .row {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }


    &>.row {
        margin-bottom: 4rem;
 
    }
    h5 {
        font-size: $mediumFont;
    }

    #top_dashboard {
        border-radius: 0.5rem; 
        .col {
            margin-bottom: 1rem;
        }           
        a {
            display: block;
            position: relative;
            padding: 0.8rem 1rem;
            background-color: #fff;
            color: $primaryColor;
            box-shadow: rgba(0, 0, 0, 0.18) 0px 1px 2px;
            svg {
                position: absolute;
                font-size: 1.5rem;
                right: 2rem;
                bottom: 1rem;
            }
            span {
                font-size: $smallFont;
            }
            h1 {
                font-size: 2rem;
            }
            &:hover {
                text-decoration: none;
            }
        }

        #total {
            border-left: 0.4rem solid #3a86ff;
            svg {
                color: #3a86ff
            }
        }
        #delivered {
            border-left: 0.4rem solid #00a896;
            svg {
                color: #00a896
            }
        }
        #pending {
            border-left: 0.4rem solid #ffbe0b;
            svg {
                color: #ffbe0b
            }
        }
    }
    #vendors {
        height: 20rem;
        padding-top: 1.5rem;

        ul {
            list-style-type: none;
            margin-top: 1rem;
            li {
                line-height: 2.5rem;
                a{
                    display: block;
                    text-decoration: none;
                    color: #6d6875;
                }
            }
        }
    }

    // @include mobile {
    //     padding: 4rem 0.8rem ;

    // }
}