#settings {

    #account, #contact, #password {
        background-color: #fff;
        border-radius: 3px;
        box-shadow: rgba(0, 0, 0, 0.18) 0px 1px 2px;
        color: $primaryColor;
        margin-bottom: 1rem;
        padding: 1rem;
        span {
            font-size: 0.8rem;
        }
        h5 {
            font-weight: 600;
            font-size: $smallFont;
            border-bottom: 1px solid rgba(0, 0, 0, 0.18);
            margin: 0 -16px;
            padding: 0 20px 10px;
        }
        form {
            margin-top: 1.7rem;
            font-size: $smallFont;
            input {
                font-size: $smallFont;
            }
            button {
                margin-top: 1.2rem;
                color: #fff;
                font-size: $smallFont;
                background-color: $primaryColor;
                border: 0 !important;

            }
        }
    }


    #password {
        .password_div {
            position: relative;
            span {
                position: absolute;
                top: 60%;
                right: 6%;
                cursor: pointer;
            }
        }
    }
}