#top_dashboard {
    border-radius: 0.5rem; 
    position: relative;
    &.row {margin-bottom: 1rem;}
    .col-md-4 {
        margin-bottom: 1rem;

        a {
            display: block;
            border-radius: 3px;
            position: relative;
            padding: 0.8rem 1rem;
            background-color: #fff;
            color: $primaryColor;
            box-shadow: rgba(0, 0, 0, 0.18) 0px 1px 2px;
    
            svg {
                position: absolute;
                font-size: 1.5rem;
                right: 2rem;
                bottom: 1rem;
            }
    
            span {
                font-size: $smallFont;
            }
    
            h1 {
                font-size: 1.5rem;
                margin-top: 7px;
            }
    
            &:hover {
                text-decoration: none;
            }
        }
    
    } 

    #welcome_banner {
        background-color: #fff;
        margin-bottom: 1rem;
        border-radius: 3px;
        box-shadow: rgba(0, 0, 0, 0.18) 0px 1px 2px;
        padding: 0.8rem 1rem;
        ul {
            font-size: $smallFont;
            list-style-type: none;
            margin-bottom: 0;
            li {
                display: inline;
                &:first-child { margin: 0;}
                margin-left: 1rem;
                line-height: 1.5rem;
            }
        }

    }

   
    #total {
        border-left: 0.4rem solid #3a86ff;

        svg {
            color: #3a86ff
        }
    }

    #delivered {
        border-left: 0.4rem solid #00a896;

        svg {
            color: #00a896
        }
    }
    #pending {
        border-left: 0.4rem solid #ffbe0b;
        
        svg {
            color: #ffbe0b
        }
    }
}