#navbar {
  background-color: #fff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.18) 0px 1px 2px;
          box-shadow: rgba(0, 0, 0, 0.18) 0px 1px 2px;
}

#navbar .navbar-collapse {
  font-size: 14px !important;
}

#navbar .navbar-collapse .nav-link {
  font-weight: 500 !important;
}

#Banner {
  background: url("../assets/virus.jpg") center no-repeat;
  height: 30rem;
  color: #fff;
  position: relative;
}

@media screen and (max-width: 480px) {
  #Banner {
    height: 80vh;
  }
}

#Banner span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #24323d;
  opacity: 0.65;
}

#Banner #banner_text {
  position: absolute;
  top: 30%;
  left: 15%;
}

#Banner #banner_text p {
  font-size: 20px;
}

#Banner #banner_text a {
  padding: 0.9rem;
  width: 15rem;
  height: 4rem;
  font-size: 20px;
  color: #26404D;
  border: 2px solid #26404D;
  background-color: #fff;
}

#Banner #banner_text a:hover {
  background-color: #26404D;
  color: #fff;
  border-color: #fff;
}

@media screen and (max-width: 480px) {
  #Banner #banner_text {
    top: 25%;
    left: 5%;
  }
  #Banner #banner_text h1 {
    font-size: 26px;
  }
  #Banner #banner_text p {
    font-size: 16px;
    padding-right: 5px;
  }
  #Banner #banner_text button {
    margin-top: 20px;
  }
}

#category {
  padding: 6rem 5rem 10rem;
}

#category h4 {
  margin-bottom: 60px;
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 600;
}

#category .col {
  height: 340px;
}

#category .col div {
  width: 60%;
  height: 100%;
  margin: auto;
  font-size: 14px;
  position: relative;
}

#category .col div img {
  width: 60%;
}

#category .col div #savings {
  width: 70% !important;
}

#category .col div h6 {
  margin-top: 40px;
  font-size: 16px;
  margin-bottom: 15px;
  font-weight: 600;
}

#category .col div button {
  position: absolute;
  left: 10%;
  width: 80%;
  top: 88%;
  color: #fff;
  background-color: #26404D;
}

@media screen and (max-width: 480px) {
  #category {
    padding: 3rem 1rem 1rem !important;
  }
  #category .col {
    margin-bottom: 6rem;
  }
  #category .col div {
    width: 80% !important;
  }
}

@media screen and (min-width: 768px) {
  #category {
    padding: 3rem 2rem 8rem;
  }
  #category .col div {
    width: 90% !important;
  }
}

#giving {
  background-color: #26404D;
  padding: 60px;
  color: #fff;
  text-transform: capitalize;
}

#giving h4 {
  font-size: 35px;
}

#giving a {
  padding-top: 0.9rem;
  width: 15rem;
  height: 4rem;
  position: absolute;
  bottom: 0;
  font-size: 20px;
  left: 30%;
  color: #26404D;
  border: 2px solid #26404D;
  background-color: #fff;
}

#giving a:hover {
  background-color: #26404D;
  color: #fff;
  border-color: #fff;
}

@media screen and (max-width: 480px) {
  #giving a {
    top: 30%;
    left: 10%;
  }
}

@media screen and (max-width: 480px) {
  #giving {
    padding: 8rem 3px;
    height: 25rem;
  }
  #giving .row {
    margin: 0;
  }
  #giving button {
    left: 10% !important;
    margin-top: 30px;
  }
  #giving h4 {
    font-size: 20px !important;
  }
}

@media screen and (min-width: 768px) {
  #giving {
    padding: 4rem 4rem 4rem 2rem !important;
  }
  #giving h4 {
    font-size: 20px;
  }
  #giving a {
    left: 13%;
    top: 5%;
  }
}

#footer {
  font-size: 14px;
  padding: 50px 0 0 30px;
  border-top: 1px solid #26404D;
  clear: both;
  position: relative;
  height: 200px;
  margin-top: 4rem;
}

#footer .row {
  margin-left: 0;
  margin-right: 0;
}

#footer .row h5 {
  font-size: 14px;
}

#footer ul {
  list-style-type: none;
}

#footer ul#contact_list {
  position: relative;
}

#footer ul#contact_list li {
  margin-left: 15px;
  line-height: 28px !important;
  margin-top: 15px;
  width: 90%;
}

#footer ul#contact_list svg {
  position: absolute;
  left: -10px;
  top: 10px;
  border-color: #26404D;
  font-size: 15px;
}

#footer ul#contact_list svg#call {
  left: -10px;
  top: 48%;
}

#footer ul#contact_list svg#mail {
  left: -10px;
  top: 88%;
}

#footer ul li {
  width: 70%;
  line-height: 33px !important;
  font-size: 14px;
}

#footer ul li a {
  text-decoration: none;
  color: #26404D;
}

#footer ul li a:hover {
  color: #4C4C4C;
  text-decoration: underline;
}

#footer #bottom_footer {
  margin-right: 60px;
  margin-top: 5%;
  border-top: 1px solid #26404D;
  padding-top: 13px;
  padding-bottom: 6px;
}

#footer #bottom_footer p {
  line-height: 18px;
}

@media screen and (max-width: 480px) {
  #footer {
    padding: 50px 1rem 1rem;
  }
  #footer .row div {
    margin-bottom: 1rem;
  }
  #footer .row div ul.list li {
    display: inline;
    margin: 0 10px;
  }
  #footer .row div ul li {
    width: 100%;
  }
  #footer #bottom_footer {
    padding: 6px;
    margin-right: 0 !important;
  }
}

@media screen and (min-width: 768px) {
  #footer svg#call {
    top: 55% !important;
  }
  #footer svg#mail {
    top: 92% !important;
  }
}

#sponsors {
  padding: 6rem 0 0;
}

#sponsors h5 {
  font-size: 20px;
  text-transform: capitalize;
  margin-bottom: 30px;
}

#sponsors ul {
  list-style-type: none;
}

#sponsors ul li {
  display: inline;
  margin: 0 8rem;
}

@media screen and (min-width: 768px) {
  #sponsors ul li {
    margin: 0 4rem;
  }
}

#sponsors ul li img {
  width: 12%;
}

@media screen and (max-width: 480px) {
  #sponsors ul {
    padding-top: 10px;
  }
  #sponsors ul li {
    display: block;
    margin: 15px 0;
  }
  #sponsors ul li img {
    width: 35%;
  }
  #sponsors ul li:first-child {
    margin-bottom: 30px;
  }
}

#login {
  padding: 4rem;
  height: 100%;
}

#login h5 {
  margin-bottom: 2rem;
}

#login form {
  font-size: 14px;
}

#login form a {
  font-size: 14px;
  float: right;
}

#login form input {
  font-size: 14px;
}

#login form label.form-label {
  padding-left: 1px;
  line-height: 35px;
}

#login form label.form-label svg {
  margin-right: 0.1rem;
  position: relative !important;
}

#login form #password_div {
  position: relative;
}

#login form #password_div svg {
  position: absolute;
  top: 70%;
  right: 5%;
  cursor: pointer;
}

#login form button {
  margin-top: 5%;
  color: #fff;
  font-size: 14px;
  background-color: #26404D;
}

#login form button:hover {
  background-color: #26404D;
  color: #fff;
}

#login #signup_div {
  margin-top: 1rem;
  font-size: 14px;
}

@media screen and (max-width: 480px) {
  #login {
    padding: 4rem 2rem 4rem;
  }
}

#contact {
  padding: 4rem;
}

#contact .row {
  font-size: 14px;
  margin-top: 25px;
}

#contact .row input {
  font-size: 14px;
}

#contact .row textarea {
  font-size: 14px;
}

#contact .row label svg {
  margin-right: 0.1rem;
}

#contact .row button {
  position: relative;
  margin-top: 5%;
  color: #fff;
  font-size: 14px;
  background-color: #26404D;
}

@media screen and (max-width: 480px) {
  #contact {
    padding: 2rem;
  }
}

#about {
  padding: 0rem 4rem 4rem;
}

#about p {
  font-size: 14px;
}

#about h5 {
  text-align: center;
  margin: 4rem 0 1rem;
}

#about > .row {
  padding-left: 5rem;
  padding-right: 5rem;
}

#about svg {
  font-size: 35px;
  margin-right: 15px;
}

#about #core div {
  margin-top: 2rem;
}

@media screen and (max-width: 480px) {
  #about {
    padding: 0 2rem 4rem;
  }
  #about > .row {
    padding-left: 0rem;
    padding-right: 0rem;
  }
}

#faq {
  padding: 3rem 4rem 4rem;
}

#faq .accordion {
  font-size: 16px !important;
}

#faq .accordion .card .card-header {
  cursor: pointer;
}

#faq .accordion .card .card-header span {
  font-size: 20px;
  margin-right: 7px;
}

#faq .accordion .card .card-body {
  padding-top: 30px;
  padding-bottom: 30px;
}

@media screen and (max-width: 480px) {
  #faq {
    padding: 3rem 1.5rem 4rem;
  }
}

#bvn {
  padding: 4rem;
}

#bvn h5 {
  margin-bottom: 25px;
  line-height: 30px;
}

#bvn button {
  margin-top: 5%;
  color: #fff;
  font-size: 14px;
  background-color: #26404D;
  border: 0 !important;
}

@media screen and (max-width: 480px) {
  #bvn {
    padding: 4rem 2rem 10rem;
  }
}

#signup {
  padding: 4rem;
  height: 100%;
}

#signup h5 {
  margin-bottom: 25px;
}

#signup form {
  font-size: 14px;
}

#signup form a {
  font-size: 14px;
  float: right;
}

#signup form input {
  font-size: 14px;
}

#signup form label.form-label {
  padding-left: 1px;
  line-height: 35px;
}

#signup form label.form-label svg {
  margin-right: 0.1rem;
  position: relative !important;
}

#signup form #password_div {
  position: relative;
}

#signup form #password_div svg {
  position: absolute;
  top: 70%;
  right: 5%;
  cursor: pointer;
}

#signup form #confirm_password_div {
  position: relative;
}

#signup form #confirm_password_div svg {
  position: absolute;
  top: 54%;
  right: 5%;
  cursor: pointer;
}

#signup form button {
  margin-top: 5%;
  color: #26404D;
  color: #fff;
  font-size: 14px;
  background-color: #26404D;
}

#signup form button:hover {
  background-color: #26404D;
  color: #fff;
}

#signup #signup_div {
  margin-top: 1rem;
  font-size: 14px;
}

@media screen and (max-width: 480px) {
  #signup {
    padding: 4rem 2rem 4rem !important;
  }
}

#how_it_works {
  height: 100%;
  padding: 4rem 5rem 0rem;
}

#how_it_works h4 {
  text-transform: capitalize;
  margin-bottom: 3rem;
}

#how_it_works .hows {
  margin-top: 5rem;
}

#how_it_works .hows h5 {
  line-height: 30px;
}

#how_it_works .hows h5 svg {
  margin-right: 14px;
  font-size: 25px;
}

#how_it_works .hows h5 svg#fund {
  stroke: #26404D;
  stroke-width: 30;
  fill: #fff;
  font-size: 30px;
}

#how_it_works .hows h5 svg#med {
  stroke-width: 30;
}

#how_it_works .hows:first-child {
  margin-top: 0;
}

#how_it_works .hows .row {
  padding: 10px 1rem;
}

#how_it_works .hows .row span {
  font-size: 50px;
  color: #26404D;
  float: left;
  padding-right: 20px;
}

#how_it_works .hows .row p {
  font-size: 14px;
  padding-top: 10px;
}

#how_it_works #faq_link {
  margin-top: 5rem;
  line-height: 32px;
}

#how_it_works #faq_link svg {
  margin-right: 5px;
  font-size: 19px;
}

@media screen and (max-width: 480px) {
  #how_it_works {
    padding: 2rem 2rem 0rem;
  }
  #how_it_works .row .row {
    padding: 10px 0rem;
  }
}

@media screen and (min-width: 768px) {
  #how_it_works {
    padding: 2rem 3rem 1rem;
  }
  #how_it_works .row .row {
    padding: 5px 0;
  }
  #how_it_works .col-9 {
    padding-right: 18px !important;
  }
  #how_it_works span {
    font-size: 40px !important;
  }
}

#sidenav {
  position: fixed;
  height: 100vh;
  margin-left: -200px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.18) 0px 1px 2px;
          box-shadow: rgba(0, 0, 0, 0.18) 0px 1px 2px;
  background-color: #fff;
  -webkit-transition: ease-in .3s;
  transition: ease-in .3s;
  z-index: 2000;
}

#sidenav.show {
  margin-left: 0;
  width: 70%;
}

#sidenav h5 {
  line-height: 3rem;
  text-align: center;
  -webkit-box-shadow: #0000002e 0px 1px 0px;
          box-shadow: #0000002e 0px 1px 0px;
  margin-bottom: 0;
}

#sidenav ul {
  list-style-type: none;
  margin-top: 0;
}

#sidenav ul li {
  line-height: 2.3rem;
  padding: 0.3rem;
  padding-left: 1.5rem;
}

#sidenav ul li a {
  color: #6E6E6E;
  font-size: 14px;
  text-decoration: none;
  display: block;
  font-weight: 600;
}

#sidenav ul li:hover, #sidenav ul li.active {
  background-color: #F4F4F4;
  -webkit-transition: all .5s;
  transition: all .5s;
}

#sidenav ul li.active {
  border-left: 4px solid red;
}

#sidenav ul li.active a {
  color: red;
}

#sidenav ul li svg {
  margin-right: 1em;
  font-size: 1.2rem;
}

@media screen and (min-width: 768px) {
  #sidenav.show {
    margin-left: 0;
    width: 30%;
  }
}

@media screen and (min-width: 1024px) {
  #sidenav {
    margin-left: 0;
    width: 15%;
  }
}

#body {
  margin: 0;
  padding: 0.1rem;
  min-height: 100vh;
  background-color: #eeeeee79;
  padding-bottom: 2rem;
}

#body.fixed {
  position: fixed;
}

@media screen and (min-width: 1024px) {
  #body {
    margin-left: 15%;
    width: 85%;
  }
}

#dashboard_content {
  padding: 0;
  padding-top: 5rem;
}

#dashboard_content .row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

#dashboard_content h5 {
  font-size: 16px;
}

#settings #account, #settings #contact, #settings #password {
  background-color: #fff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.18) 0px 1px 2px;
          box-shadow: rgba(0, 0, 0, 0.18) 0px 1px 2px;
  color: #26404D;
  margin-bottom: 1rem;
  padding: 1.5rem 1rem;
}

#settings #account span, #settings #contact span, #settings #password span {
  font-size: 0.8rem;
}

#settings #account h5, #settings #contact h5, #settings #password h5 {
  font-weight: 600;
}

#settings #account form, #settings #contact form, #settings #password form {
  margin-top: 1.7rem;
  font-size: 14px;
}

#settings #account form input, #settings #contact form input, #settings #password form input {
  font-size: 14px;
}

#settings #account form button, #settings #contact form button, #settings #password form button {
  margin-top: 1.5rem;
  color: #fff;
  font-size: 14px;
  background-color: #26404D;
  border: 0 !important;
}

#settings #password .password_div {
  position: relative;
}

#settings #password .password_div span {
  position: absolute;
  top: 60%;
  right: 6%;
  cursor: pointer;
}

#topnav {
  background-color: #26404D;
  padding: 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.18) 0px 1px 2px;
          box-shadow: rgba(0, 0, 0, 0.18) 0px 1px 2px;
  height: 3rem;
  padding-right: 1.5rem;
}

#topnav #nav_div {
  height: 100%;
  margin: 0 !important;
  color: #fff;
  width: 3rem;
  padding-left: 3rem;
  font-size: 19px;
  padding-top: 0.7rem;
  font-size: 16px;
}

#topnav #nav_div svg {
  position: absolute;
  left: 5%;
  top: 25%;
  font-size: 1.4rem;
}

#topnav #nav_item a {
  font-size: 16px;
  color: #fff;
}

#topnav #nav_item a#chat {
  margin-right: 20px;
}

#topnav #nav_item a svg {
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  #topnav #nav_div {
    padding-left: 4.5rem !important;
  }
}

@media screen and (min-width: 1024px) {
  #topnav {
    margin-left: 15%;
    padding-right: 3.5rem;
  }
  #topnav #nav_div {
    padding-top: 0.7rem;
  }
  #topnav #chat {
    margin-right: 2rem !important;
  }
}

#top_dashboard {
  border-radius: 0.5rem;
}

#top_dashboard.row {
  margin-bottom: 1rem;
}

#top_dashboard .col {
  margin-bottom: 1rem;
}

#top_dashboard a {
  display: block;
  position: relative;
  padding: 0.8rem 1rem;
  background-color: #fff;
  color: #26404D;
  -webkit-box-shadow: rgba(0, 0, 0, 0.18) 0px 1px 2px;
          box-shadow: rgba(0, 0, 0, 0.18) 0px 1px 2px;
}

#top_dashboard a svg {
  position: absolute;
  font-size: 1.5rem;
  right: 2rem;
  bottom: 1rem;
}

#top_dashboard a span {
  font-size: 14px;
}

#top_dashboard a h1 {
  font-size: 1.5rem;
  margin-top: 7px;
}

#top_dashboard a:hover {
  text-decoration: none;
}

#top_dashboard #total {
  border-left: 0.4rem solid #3a86ff;
}

#top_dashboard #total svg {
  color: #3a86ff;
}

#top_dashboard #delivered {
  border-left: 0.4rem solid #00a896;
}

#top_dashboard #delivered svg {
  color: #00a896;
}

#top_dashboard #pending {
  border-left: 0.4rem solid #ffbe0b;
}

#top_dashboard #pending svg {
  color: #ffbe0b;
}

#recent_activity {
  color: #26404D;
  background-color: #fff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.18) 0px 1px 2px;
          box-shadow: rgba(0, 0, 0, 0.18) 0px 1px 2px;
}

#recent_activity h5 {
  padding: 1rem;
}

#recent_activity .activity {
  position: relative;
  padding: 1rem;
  height: 4rem;
}

#recent_activity .activity.shade {
  background-color: #efefef;
}

#recent_activity .activity h6 {
  margin-bottom: 0;
  font-size: 14px;
}

#recent_activity .activity span {
  font-size: 12px;
  color: #26404D;
}

#recent_activity .activity i {
  position: absolute;
  right: 6%;
  top: 1rem;
  font-size: 12px;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  letter-spacing: 0.2px;
}

.form-control:focus {
  -webkit-box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0.18) !important;
          box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0.18) !important;
}

h5 {
  font-weight: 600 !important;
}
/*# sourceMappingURL=index.css.map */