@import "./homepage/variables";
@import "./homepage/mixins";
@import "./homepage/navbar";
@import "./homepage/banner";
@import "./homepage/category";
@import "./homepage/giving";
@import "./homepage/footer";
@import "./homepage/sponsors";
@import "./homepage/login";
@import "./homepage/contact";
@import "./homepage/about";
@import "./homepage/faq";
@import "./homepage/how_it_works";

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

#content_container {
    min-height: 70vh !important;
    padding-bottom: 7%;
}

