#category {
    padding: 6rem 5rem 10rem;
    
    h4 {
        margin-bottom: 60px;
        font-size: $headerFont;
        text-transform: capitalize;
    }

    h5 {
        font-size: $mediumFont;
        margin-bottom: 15px;
    }

    .col {
        height: 340px;
        div {
            width: 60%;
            height: 100%;
            margin: auto;
            font-size: $smallFont;
            position: relative;
            img {
                width: 60%;
            }

            #savings{
                width: 70% !important;
            }

            h5 {
                margin-top: 40px;
            }
            button {
                position: absolute;
                left: 10%;
                width: 80%;
                top: 88%;
                color: #26404D;
                border-color: #26404D;
                background-color: #fff;
                &:hover {
                    background-color: #26404D;
                    color: #fff;
                }
            }
        }
    }
    @include mobile {
        padding: 3rem 1rem 2rem;
        .col {
            margin-bottom: 6rem;
            div {
                width: 80% !important;
            }
        }
    }
}