#category {
    padding: 6rem 5rem 10rem;
    
    h4 {
        margin-bottom: 60px;
        font-size: $headerFont;
        text-transform: capitalize;
        font-weight: 600;
    }

    .col {
        height: 340px;
        div {
            width: 60%;
            height: 100%;
            margin: auto;
            font-size: $smallFont;
            position: relative;
            img {
                width: 60%;
            }

            #savings{
                width: 70% !important;
            }

            h6 {
                margin-top: 40px;
                font-size: $mediumFont;
                margin-bottom: 15px;
                font-weight: 600    ;
            }

            button {
                position: absolute;
                left: 10%;
                width: 80%;
                top: 88%;
                color: #fff;
                background-color: $primaryColor;
            }
        }
    }
    @include mobile {
        padding: 3rem 1rem 1rem !important;
        .col {
            margin-bottom: 6rem;
            div {
                width: 80% !important;
            }
        }
    }

    @include iPad {
        padding: 3rem 2rem 8rem;
        .col {
            div {
                width: 90% !important;
            }
        }
    }
}