#category {
    padding: 3rem 1rem 1rem;
    
    h5 {
        margin-bottom: 60px;
        font-size: $headerFont - 1px ;
        text-transform: capitalize;
    }

    .col { 
        height: 340px;
        margin-bottom: 7rem;
        div {
            width: 90%;
            height: 100%;
            margin: auto;
            font-size: $smallFont;
            position: relative;
            img {
                width: 47%;
            }

            h6 {
                margin-top: 40px;
                font-size: $mediumFont;
                margin-bottom: 0.8rem;
            }

            button {
                position: absolute;
                left: 10%;
                width: 80%;
                top: 80%;
                color: #fff;
                background-color: $primaryColor;
            }
        }
    }

    @include ipad {
        padding: 3rem 2rem 0rem;
        .col {
            div {
                width: 90% !important;
                img {
                    width: 47%;
                }
                #savings {
                    width: 56%;
                }
            }
        }
    }

    @include ipadpro {
        padding: 4rem 2rem 1rem;
        .col {
           
            div {
                width: 90% !important;
                img {
                    width: 37%;
                }
                #savings {
                    width: 43%;
                }
            }
        }
    }
}