#contact {
    padding: 4rem;
    .row {
        font-size: $smallFont;
        margin-top: 25px;
        input {
            font-size: $smallFont;
        }
        textarea {
            font-size: $smallFont;
        }
        label {
            svg {
                margin-right: 0.1rem;
            }
        }
        button {
            position: relative;
            margin-top: 5%;
            color: #fff;
            font-size: $smallFont;
            background-color: $primaryColor;
        }
    }
    @include mobile {
        padding: 2rem;
    }
}