#how_it_works {
    height: 100%;
    padding: 4rem 5rem 0rem;
    h4 {
        text-transform: capitalize;
        margin-bottom: 3rem;
    }

    .hows{
        h5 {
            line-height: 30px;
            svg {
                margin-right: 14px;
                font-size: 25px;
                &#fund {
                    stroke: $primaryColor;
                    stroke-width: 30;
                    fill: #fff;
                    font-size: 30px;
                }
                &#med {
                    stroke-width: 30;
                }
            }
        }
        margin-top: 5rem;
        &:first-child {
            margin-top: 0;
        }
        .row {
            padding: 10px 1rem;
    
            span {
                font-size: 50px;
                color: $primaryColor;
                float: left;
                padding-right: 20px;
            }
            p {
                font-size: $smallFont;
                padding-top: 10px;
            }
        }
    }

    #faq_link {
        margin-top: 5rem;
        line-height: 32px;
        svg {
            margin-right: 5px;
            font-size: 19px;
        }
    }

    @include mobile {
        padding: 2rem 2rem 10rem;
        .row .row {
            padding: 10px 0rem;
        }
    }
    @include iPad {
        padding: 2rem 3rem 1rem;
        .row .row {
            padding: 5px 0;
        }
        .col-9 {
            padding-right: 18px !important;
        }
        span {
            font-size: 40px !important;
        }
    }
}