#signup {
    padding: 4rem;
    height: 100%;
    h5 {
        margin-bottom: 25px;
    }

   
    form {
        font-size: $smallFont;
        a {
            font-size: $smallFont;
            float: right;
        }
        input {
            font-size: $smallFont;
        }
        label.form-label {
            padding-left: 1px;
            line-height: 35px;
            svg {
                margin-right: 0.2rem;
                position: relative !important;
            }
        }

        #password_div {
            position: relative;
            svg {
                position: absolute;
                top: 70%;
                right: 5%;
                cursor: pointer;
            }
        }

        #confirm_password_div {
            position: relative;
            svg {
                position: absolute;
                top: 54%;
                right: 5%;
                cursor: pointer;
            }
        }
        button {
            margin-top: 5%;
            color: #26404D;
            color: #fff;
            font-size: $smallFont;
            background-color: $primaryColor;
            &:hover {
                background-color: #26404D;
                color: #fff;
            }
        }
    }

    #signup_div {
        margin-top: 1rem;
        font-size: $smallFont;
    }
    @include mobile {
        padding: 4rem 2rem 4rem !important;
    }
}