#sponsors {
    padding: 6rem 0 0;
   
    h5 {
        font-size: $headerFont;
        text-transform: capitalize;
        margin-bottom: 30px;
    }

    ul {
        list-style-type: none;
        li {
            display: inline;
            margin: 0 8rem;
            @include ipad {
                margin: 0 4rem;
            }
            img {
                width: 12%;
            }
        }
    }

    @include mobile {
       ul {
           padding-top: 10px;
           li {
                display: block;
                margin: 15px 0;
                img {
                    width: 35%;
                }
                &:first-child {
                    margin-bottom: 30px;
                }
            }
        }
    }
}